$b-r: 5px;



.card2 {
    display: flex;
    flex: 0 0 auto;
    background: #fff;

    margin: 80px 0;
    border-radius: $b-r;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-pic-wrap {
    border-radius: $b-r 0 0 $b-r;
    width: 350px;
    flex: 0 0 auto;
    position: relative;


    img {
        position: absolute;
        bottom: 3em;
        left: 50%;
        margin-left: -175px;
        width: 350px;
        -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
    }
}

.card-content {
    padding: 3em 4em 2em;
}

h3 {

    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 1em;
    text-align: justify;
}

.parraforeciclaje {
    text-align: justify;
}

.botonreciclaje {
    background: #8dc26f;
    color: #fff;
    text-align: center;
    width: 40%;
    padding: 0 25px;
    height: 50px;
    font-size: calc(0.3rem + 1vw);
    letter-spacing: 1px;
    line-height: 50px;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 1.5em;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        background: #70a751;
    }
}

@media (max-width: 790px) {


    .card2 {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .card-pic-wrap {
        width: 100%;
        border-radius: $b-r $b-r 0 0;

        img {

            position: relative;
        }
    }

    .card-content {
        padding: 2em 2em 1em;
    }
}



// textohover


.contenedorTituloGrande {
    width: 100%;
    //   height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perspective-text {
    margin-top: 30px;
    color: black;
    font-size: calc(1rem + 2vw);
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.perspective-line {
    height: 92px;
    /*should be less than font-size to create space only for just 1 text line*/
    overflow: hidden;
    position: relative;
}

.tituloletrero {
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0;
    height: 92px;
    /*same height as of div to occupy full space by text*/
    line-height: 100px;
    /*to create space between 2nd line of same div*/
    transition: all 0.5s ease-in-out;
}

/* skew both x and y axis for every odd line and only y axis for even line.
   Now skewing will cause the line size to be out of proportion. 
   We need to fix this by downscaling the odd lines and upscaling the even lines.*/


.perspective-text:hover p {
    transform: translate(0, -92px);
}

/*change it to .perspective-line:hover p{} for transition on single div on hover*/
p {
    transition: all 0.5s ease-in-out;
}


// fin de textohover