.contendorbaner {
  margin-top: 20px;
}

.bannertexto {
  text-align: center;
}

.banner {
  background-image: url(/img/bannemain.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
 
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner2 {
  background-image: url(/img/contenedores.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner3 {
  background-image: url(/img/reciverdetierra.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner4 {
  background-image: url(/img/panama.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-text {
  padding-top: 100px;
  margin-left: 50px;
}

#textobanner {
  font-size: calc(1rem + 0.8vw);
}

@media (max-width: 1230px) {
  .banner-text {
    font-size: calc(1rem + 2vw);
    color: #003333;
    -webkit-text-stroke: 0.1px #ffffff;
  }

  #textobanner {
    font-size: calc(1rem + 2vw);
  }
}

.banner-text .titulobanner1 {
  letter-spacing: 5px;
}

.banner-text .titulobanner2 {
  text-align: center;
}

#btn {
  width: 130px;
  height: 45px;
  font-weight: bold;
  background-color: #003333;
  letter-spacing: 3px;
  margin-left: 50px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* fin de banner */
