@use 'menu';
@use 'cards';
@use 'cardsconten';
@use 'carruselinterfaz2';
@use 'footer';
@use 'interfaz2';
@use 'cardsbasureros';
@use 'elreciclaje';
@use 'popup';
@use 'parallax';
@use 'converde';
@use 'conorganico';
@use 'conazul';
@use 'conamarillo';
@use 'congris';
@use 'puntosverdes';
@use 'reciverde';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
// varibales


* {
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  cursor: url('/img/Cursor.svg'), auto;
  color: #000000;
}

.holy-grail header,
.hg-sidebar,
.holy-grail-content {
  padding: 25px;
}

.holy-grail header {
  background: #cfcfcf91;
}

.hg-sidebar {
  background: rgb(106, 106, 194);
}

.holy-grail-content {
  color: #000000;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-cuerpo{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}


.holy-grail-content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }

  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}

// css para inicio

.contendorbaner {
  margin-top: 20px;
}

.bannertexto {
  text-align: center;
}

.banner {
  background-image: url(/img/bannemain.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  // background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner2 {
  background-image: url(/img/contenedores.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  // background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}


.banner3 {
  background-image: url(/img/reciverdetierra.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  // background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  
}

.banner4{
  background-image: url(/img/panama.png);
  max-width: 100%;
  width: 100%;
  height: 50vh;
  background-position: 87%;
  // background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
  
}


.banner-text {
  padding-top: 100px;
  margin-left: 50px;
  font-size: calc(0.1rem + 0.80vw);
}





@media (max-width: 1230px) {
  .banner-text {
    font-size: calc(0.5rem + 0.39vw);
  }

  
}

.banner-text .titulobanner1 {
  letter-spacing: 5px;
   }

.banner-text .titulobanner2 {
  text-align: center;
}

#btn {
  width: 130px;
  height: 45px;
  font-weight: bold;
  background-color: #003333;
  letter-spacing: 3px;
  margin-left: 50px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


// fin de banner


/*Boton de ir arriba*/

/* GOTOP */

.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #E5ecc1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #000000;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 6rem;
    height: 6rem;
  }

  100% {
    width: 3.6rem;
    height: 3.6rem;
  }
}

// fin de boton up


// boton fijo
.boton-flotante {
  position: fixed;
  width: 7.5rem;
  height: 5.4rem;
  bottom: 4rem;
  /* Ajusta la posición vertical */
  left: 20px;
  /* Ajusta la posición horizontal */
  background-color: #508731;
  /* Ajusta el color de fondo */
  color: #ffffff;
  /* Ajusta el color del texto */
  padding: 10px;
  /* Ajusta el espaciado interno */
  border-radius: 50%;
  /* Ajusta la forma del botón (opcional) */
  z-index: 999;
  /* Ajusta la capa z-index para que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.boton-flotante img {
  width: 40px;
  /* Ajusta el tamaño de la imagen */
  margin-right: 5px;
  /* Ajusta el espacio entre la imagen y el texto */
}

.boton-flotante span {
  font-size: 14px;
  /* Ajusta el tamaño del texto */
}




// fin de boton fijo



// css basico de texto 
/* Estilo para pantallas grandes */
.paragraph {
  line-height: 1.5;
  text-align: justify;
  line-height: 1.8;
  margin-top: 15px;
}

/* Estilo para pantallas medianas */
@media only screen and (max-width: 768px) {
  .paragraph {
    font-size: 30px;
    line-height: 1.4;
  }
}

/* Estilo para pantallas pequeñas */
@media only screen and (max-width: 480px) {
  .paragraph {
    font-size: 18px;
    line-height: 1.3;
  }
}

.tiluloh2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 12px;
}

// listado
#listado1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

#listado2 {
  background-color: #cfedac;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

#listado2:hover {
  background-color: #ffffff;
  transform: translateX(10px);
}




// fin de listado


// tarjeta inicio
.containerdiferente {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tarjeta {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 30rem;
  margin-right: 20px;
}

.text {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .tarjeta {
    height: 170px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

// boton de conocer mas
.learn-more-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  background-color: #139100;
  border-radius: 12px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

// fin de boton mas
.contenedoresreciclaje {
  max-width: 100%;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

// fin de tarjeta
// fin de css basico de texto