@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
nav {
  background-color: rgba(255, 255, 255, 0.9607843137);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  gap: 40px;
  padding: 0px 50px;
  color: rgb(0, 0, 0);
  position: relative;
}

/* Positioning Logo */
#logo img {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1500px;
  z-index: 999;
}

li a {
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

li a:hover {
  color: #E5ecc1;
  transition: 0.3s;
}

.hide {
  top: 70px;
}

@media screen and (max-width: 940px) {
  /* HAMBURGER */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
  }
  .lines {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 35px;
  }
  .lines-rotate {
    background-color: rgb(85, 84, 84);
    border-radius: 5px;
  }
  nav {
    position: inherit;
    padding: 15px 20px;
  }
  ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -300px;
    right: 0;
    background-color: #ffffff;
    padding: 35px 0;
    border-radius: 0 0 20px 20px;
  }
  li a {
    color: rgba(12, 11, 11, 0.836);
  }
  li {
    text-align: center;
    width: 90vw;
  }
  li a:hover {
    font-weight: bold;
    color: #191e24;
    border: none;
    letter-spacing: 3px;
  }
}
.light {
  background: #ffffff;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #18151f;
}
.postcard.light {
  background-color: #e1e5ea;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img {
  max-height: 177px;
  width: 100%;
  position: relative;
}
.postcard #modificacionimglogo {
  height: 360px;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 450px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }
  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
.container2 {
  margin-bottom: 70px;
  margin-top: 20px;
}

.CarruselPrincipal {
  box-shadow: 0 3px 20px #777;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  height: 76vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}

.itemCarrusel {
  position: absolute;
  height: 80vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 2000ms;
}

.itemCarrusel:nth-child(1) {
  background-color: mediumpurple;
}

.itemCarrusel:nth-child(2) {
  background-color: yellowgreen;
}

.itemCarrusel:nth-child(3) {
  background-color: tomato;
}

.itemCarrusel:nth-child(4) {
  background-color: aqua;
}

.itemCarrusel:nth-child(5) {
  background-color: aqua;
}

.itemCarrusel > img {
  height: 100%;
  width: 100%;
}

.hideItemCarrusel {
  z-index: -1;
  left: 1000px;
}

.position {
  z-index: 5;
}

.animationImg {
  animation: example 8s ease-out, blur 2s ease-in;
}

@-webkit-keyframes example {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes blur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0px);
  }
}
/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #003333;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  text-align: justify;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(25, 158, 10);
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
#circle-shape-example {
  margin: 2rem;
}

#circle-shape-example .textoinferaz2 {
  line-height: 1.8;
  text-align: justify;
}

#circle-shape-example .curve {
  width: 25%;
  height: auto;
  min-width: 150px;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

div#inked-painted {
  position: relative;
  font-size: 0;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

div#inked-painted img {
  width: 100%;
  height: auto;
}

div#colored {
  background-image: url(/img/after.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-size: cover;
}

div#inked-painted:hover {
  cursor: col-resize;
}

:root {
  --font-base: "Poppins", sans-serif;
  --color-accent: rgb(0, 0, 0);
  --color-base: #222;
  box-shadow: 5px 5px 0;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  	0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
  	1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
  	0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
  	2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
  	5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
  	1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
  	2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
  	4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
  	7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
  	11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
  	17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
  	25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.basureros {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.infobasura {
  text-align: justify;
}

.textocontenedor {
  -webkit-margin-after: 1.5rem;
  margin-block-end: 1.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: hsl(var(--shadow-color));
}

.wrapper {
  width: min(100% - 2rem, 1024px);
  margin-inline: auto;
  padding-block: 2rem;
}

.card {
  display: flex;
  margin-block: 2rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0.35rem;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-high);
}

.card--reverse {
  flex-direction: row-reverse;
}

.card__pic {
  align-self: stretch;
}

.card__content {
  padding: 2rem;
}

.card__content p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: hsl(var(--shadow-color));
  border-radius: 3px;
  background-color: #0059ff;
}

@media screen and (max-width: 767.98px) {
  .card__pic {
    height: 40vh;
  }
}
@media screen and (min-width: 1024px), (min-width: 768px) and (max-width: 1023.98px) {
  .card__pic {
    flex: 1 0 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .card {
    flex-direction: column;
  }
}
@media screen and (max-width: 767.98px) {
  .card--reverse {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1em;
  cursor: url("/img/3_favICON-dark.svg"), auto;
  color: #000000;
}

.holy-grail header,
.hg-sidebar,
.holy-grail-content {
  padding: 20px;
}

.holy-grail header {
  background: #ded7d7;
}

.hg-sidebar {
  background: rgb(106, 106, 194);
}

.holy-grail-content {
  color: #000000;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }
  .holy-grail-body {
    flex-direction: row;
  }
  .hg-sidebar {
    flex: 0 0 260px;
  }
}
.contendorbaner {
  margin-top: 20px;
}

.banner {
  background-image: url(/img/masterpage-top-image-450.png);
  max-width: 100%;
  width: 100%;
  height: 49vh;
  background-position: 87%;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner2 {
  text-align: center;
}

.banner-text2 {
  margin-left: 50px;
}

.banner-text {
  padding-top: 100px;
  margin-left: 50px;
}

.banner-text h2 {
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 30px;
}

.banner-text h1 {
  margin-left: 5px;
  font-size: 3vw;
}

#btn {
  width: 130px;
  height: 45px;
  font-weight: bold;
  background-color: #003333;
  letter-spacing: 3px;
  margin-left: 50px;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/*Boton de ir arriba*/
/* GOTOP */
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #E5ecc1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #000000;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 6rem;
    height: 6rem;
  }
  100% {
    width: 3.6rem;
    height: 3.6rem;
  }
}
.boton-flotante {
  position: fixed;
  width: 7.5rem;
  height: 5.4rem;
  bottom: 4rem; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
  background-color: #508731; /* Ajusta el color de fondo */
  color: #ffffff; /* Ajusta el color del texto */
  padding: 10px; /* Ajusta el espaciado interno */
  border-radius: 50%; /* Ajusta la forma del botón (opcional) */
  z-index: 999; /* Ajusta la capa z-index para que esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.boton-flotante img {
  width: 40px; /* Ajusta el tamaño de la imagen */
  margin-right: 5px; /* Ajusta el espacio entre la imagen y el texto */
}

.boton-flotante span {
  font-size: 14px; /* Ajusta el tamaño del texto */
}

/*# sourceMappingURL=principal.css.map */
