@use 'menu';
@use 'cards';
@use 'carruselinterfaz2';
@use 'footer';
@use 'interfaz2';
@use 'cardsbasureros';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
// varibales


* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.1em;
  
  color: #000000;
}

.holy-grail header,
.hg-sidebar,
.holy-grail-content {
  padding: 20px;
}

.holy-grail header{
  background: #ded7d7;
}

.hg-sidebar {
  background: rgb(106, 106, 194);
}

.holy-grail-content {
  color: #000000;
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.holy-grail-content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .holy-grail-sidebar-1 {
    order: -1;
  }

  .holy-grail-body {
    flex-direction: row;
  }

  .hg-sidebar {
    flex: 0 0 260px;
  }
}

// css para inicio

.contendorbaner{
  margin-top: 20px;
}
.banner{
  width: 100%;
  height: 69vh;
  background-image: url(/img/masterpage-top-image-450.png);
  background-size: cover;
  background-position: 69%;
  position: relative;
}

.banner-text{
  padding-top: 100px;
  margin-left: 50px;
}

.banner-text h2{
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 30px;
}

.banner-text h1{
  margin-left: 5px;
  font-size: 3vw;
}

#btn{
  width: 130px;
  height: 45px;
  font-weight: bold;
  background-color: #003333;
  letter-spacing: 3px;
  margin-left: 50px;
  color: #ffff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


