.mapacontent{
    height: 650px;
    margin-bottom: auto;
}

.capa{
    width: 100%;
    text-align: center;
    align-items:center ;
    display: flex;
    margin: auto;
}


.parrafo{
    z-index: 1;
    width: 100%;
   
    padding: 20px 20px;
    font-size: 15px;
    font-size: calc(0.5rem + 0.9vw);
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
}
.parrafo img{
    width: 10%;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    background-color: #003333;
}